+contentHeader(title='schedules.thisDefault' subtitle='schedules.totalHoursPerWeek' subtitleAppend=totalHoursPerWeek)
.content.zoom-1
  .row
    .col-md-3 {{> schedulesDefaultEmployeeList }}

    .col-md-9
      .row
        .col-md-12
          .box.box-default
            .box-header.with-border
              h3.box-title
                | {{_ 'schedules.thisDefault'}} {{_ 'ui.for' }}
                strong {{ getFullNameWithTitle viewUser }}
            .box-body
              +schedulesDefaultSummary(viewUser=viewUser)
        .col-md-12
          .box.box-default
            .box-body
              | {{> schedulesDefaultForm viewUser=viewUser }}

        .col-md-12
          +schedulesDefaultCalendar
