+contentHeader(title='schedules.thisDefault' subtitle='schedules.totalHoursPerWeek' subtitleAppend=totalHoursPerWeek)
.content.zoom-1
  .row
    .col-md-3 {{> schedulesDefaultEmployeeList }}

    .col-md-9
      .row
        .col-md-12
          .box.box-default
            .box-header.with-border
              h3.box-title
                | {{_ 'schedules.thisDefault'}} {{_ 'ui.for' }}
                strong {{ getFullNameWithTitle viewUser }}
              .box-tools.pull-right
                button.btn.btn-box-tool(rel='edit')
                  i.fa.fa-pencil

            .box-body
              +schedulesDefaultSummary(viewUser=viewUser)

        .col-md-12
          +schedulesDefaultCalendar(viewUser=viewUser)
