+if viewUser
  .row
    .col-md-12 {{> quickForm collection='Schedules' doc=getDefaultScheduleForViewUser type=formType template='bootstrap3-inline' id='afSchedulesDefaultForm' label-class='sr-only' afFieldInput-placeholder='schemaLabel'}}
