.day-closed,
.day-closed.-focus- {
  background-color: #d4d4d4;
  color: #7d7d7d;
  font-weight: normal;

  cursor: default;
  font-weight: normal;
}

.day-full {
  background: #efefef;
  color: #8c8c8c;
  cursor: default;
  font-weight: normal;
}

.day-recommended {
  font-weight: 700;
}

.-disabled-,
.-disabled-.-focus- {
  background: none;
  font-weight: normal;
}

