.box(class='{{currentStep}}')
  .box-header
    h3.box-title <b>2.</b> Datum und Uhrzeit
  .box-body
    .row
      .col-md-9(style='width: 72%')
        +newAppointmentDayPicker
      .col-md-3
        +newAppointmentTimePicker
