.row
  .col-md-3
    .quick-jump
      a(data-days='0') {{_ 'appointments.today' }}
      a(rel='asap') {{_ 'appointments.asap' }}
      a(data-days='14') {{_ 'appointments.in2Weeks' }}
      a(data-days='30') {{_ 'appointments.in1Month' }}
      a(data-days='42') {{_ 'appointments.in6To8Weeks' }}
      a(data-days='90') {{_ 'appointments.in3Months' }}
      a(data-days='180') {{_ 'appointments.in6Months' }}
      a(data-days='365') {{_ 'appointments.in1Year' }}

  .col-md-9
    #day-picker-1.pull-left
    #day-picker-2.pull-left.hidden-sm.hidden-xs
