.modal.fade(tabindex='-1')
  .modal-dialog.disable-selection
    .modal-content
      .modal-header
        button.close(data-dismiss='modal')
          span &times;
        h4.modal-title {{ title }}
      .modal-body
        if formTemplate
          +Template.dynamic template=formTemplate
        else
          | {{> quickForm id='modalAutoForm' type=type doc=doc collection=collection}}
