{
  "env": {
    "es6": true,
    "node": true,
    "meteor": true,
    "browser": true,
    "jasmine": true,
    "jquery": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
  },
  "rules": {
    "quotes": [2, "single"],
    "semi": [2, "never"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "eol-last": 2,
    "comma-spacing": 2,
    "no-underscore-dangle": 0,
    "curly": 0,
    "handle-callback-err": 0,
    "new-cap": 0,
    "no-shadow": 0,
    "strict": 0,
    "no-multi-spaces": 0
  },
  "globals": {
    "Comments": true,
    "InboundCalls": true,
    "Schedules": true,

    "AutoForm": false,
    "Roles": false,
    "Router": false,
    "Tabular": false,
    "Counts": false,
    "SubsManager": false,
    "SimpleSchema": false,
    "Ground": false,
    "TAPi18n": false,
    "Modal": false,
    "moment": false,

    "Schema": true,
    "TabularTables": true,

    "Helpers": true,
    "Util": true,
    "TestUtil": true,
    "Time": true,

    "server": false,
    "client": false,
    "exec": true,
    "cd": false
  }
}
