+contentHeader(title='system.thisImporters')
.content
  .row
    .col-md-4
      .box.box-default
        .box-header.with-border
          i.fa.fa-life-saver
          h3.box-title Manually import a file
        .box-body
          .form-group
            label Importer module
            select.form-control(name='importer')
              option(value='terminiko') Terminiko Appointments
              option(value='eoswinPatients') EOSWin Patients
              option(value='eoswinRevenueReports') EOSWin Revenue Reports
              option(value='eoswinJournalReports') EOSWin Journal Reports
              option(value='genericJson') Generic JSON

          .form-group
            label Select file
            label.form-control.btn.btn-default.btn-file(for='file')
              | Browse
              input.display-none(type='file' id='file')
            p.help-block Maximum file size: 40 MB

        .box-footer
          if currentUpload
            with currentUpload
              p Uploading {{file.name}}: {{progress.get}}%
              .progress.active
                .progress-bar.progress-bar-success.progress-bar-striped(style="width: {{progress.get}}%")
          else
            button.btn.btn-primary(rel='upload') Import now
