+contentHeader(title='inboundCalls.thisInsert')
.content
  .box.box-default
    .box-body
      +autoForm(collection='InboundCalls' id='insertInboundCallForm' validation='submit')
        fieldset
          +afQuickField(name='lastName')
          +afQuickField(name='firstName')
          +afQuickField(name='telephone')
          +afQuickField(name='note' rows=6 autofocus=true)
          +afQuickField(name='privatePatient')
        button.btn.btn-primary(type='submit') {{_ 'inboundCalls.thisSave'}}
