:local(.contentHeader) {
  background: $background !important;
  display: flex;
  left: 230px;
  position: fixed !important;
  right: 0;
  z-index: 50;
}

:local(.contentHeaderSidebarClosed) {
  left: 45px !important;
}

:local(.grid) {
  display: grid;
}

:local(.timeLegend) {
  color: $gray-disabled;
}

:local(.timeLegend.fullHour) {
  color: darken($dark-gray-active, 15%) !important;
  font-weight: bold;
}

:local(.timeLegend.quarterHour) {
  color: $dark-gray-disabled;
}

:local(.newAppointmentTrigger) {
  background-color: lighten($background, 10%);
  min-height: 24px;
  margin-left: 2px;
}

:local(.newAppointmentTrigger:hover) {
  background-color: lighten($background, 3%);
}

:local(.scheduledUnavailable) {
  background-color: $dark-gray-disabled;
  opacity: .5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:local(.schedulesText) {
  text-align: center;
}

:local(.popover) {
  min-width: 400px;
  max-width: 400px;
}

:local(.padded) {
  padding: 10px;
}

:local(.summary) {
  margin-bottom: 5px;
}

:local(.overrideOverlay) {
  background-color: rgb(226, 214, 227);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
  text-align: center;
}
