:local(.contentHeader) {
  background-color: $background;
  display: flex;
  z-index: 50;
}

:local(.headerRow) {
  background-color: $background;
  border-bottom: 1px solid $gray-disabled;
  display: flex;
  padding-bottom: 6px;
  width: 100%;
  z-index: 40;
}

:local(.headerRowSticky) {
  padding-top: 60px;
}

:local(.headerCell) {
  flex: 1;
}

:local(.grid) {
  display: grid;
  margin-top: -130px;
}

:local(.appointment) {
  border-left: 3px solid $primary-active;
  cursor: pointer;
  margin-left: 0;
  overflow: hidden;
  padding-left: 6px;
  white-space: pre-wrap;
}

:local(.appointment:hover) {
  background-color: lighten($background, 3%);
}

:local(.canceled) {
  color: $dark-gray-disabled;
  text-decoration: line-through;
}

:local(.show) {
  border-width: 0;
}

:local(.prefix) {
  color: $dark-gray;
}

:local(.timeLegend) {
  color: $dark-gray-disabled;
}

:local(.fullHour) {
  color: $dark-gray-active;
  font-weight: bold;
}

:local(.newAppointmentTrigger) {
  background-color: $background;
  margin-left: 2px;
}

:local(.newAppointmentTrigger:hover) {
  background-color: lighten($background, 5%);
}

:local(.scheduledUnavailable) {
  background-color: $dark-gray-disabled;
  opacity: .2;
}

:local(.popover) {
  min-width: 400px;
  max-width: 400px;
}

:local(.padded) {
  padding: 10px;
}

:local(.summary) {
  margin-bottom: 5px;
}
