:local(.contentHeader) {
  background-color: $background;
  z-index: 100;
}

:local(.headerRow) {
  background-color: $background;
  padding-bottom: 6px;
  border-bottom: 1px solid $gray-disabled;
  display: flex;
  width: 100%;
}

:local(.headerRowSticky) {
  padding-top: 60px;
}

:local(.headerCell) {
  flex: 1;
}

:local(.appointment) {
  border-left: 3px solid $primary-active;
  overflow: hidden;
  white-space: pre-wrap;
  padding-left: 6px;
  margin-left: 0;
  transition: margin-left .1s ease-out;
}

:local(.appointment:hover) {
  margin-left: 2px;
}

:local(.prefix) {
  color: $dark-gray;
}

:local(.timeLegend) {
  color: $dark-gray-disabled;
}

:local(.fullHour) {
  color: $dark-gray-active;
  font-weight: bold;
}
