.box.box-default
  .box-header
    h3.box-title <b>2.</b> Details
  .box-body
    .col-md-6
      .form-group
        label {{_ 'appointments.assignment' }}
        +employeeSelect
    .col-md-6
      .form-group
        label {{_ 'appointments.tags' }}
        .form-control
          +each tags
            span.label.tag.tag-lg(class='{{ tagClass }}' rel='toggleTag' data-id='{{ _id }}') {{ tag }}
