.selected-result .full-name,
.selected-result .new-patient {
  background: #fcf8e3;
}

.inline-profile {
  display: inline-block;
  margin-top: 0.2em;
  margin-left: 0.6em;
}

ul.search-results,
.search-results li {
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

ul.search-results {
  margin: 1.5em 0;
}

.search-results li {
  margin: 1em;
}

.search-results li:before {
  content: '\f0da';
  font-family: 'FontAwesome';
  float: left;
  margin-right: 0.5em;
  margin-top: 0.17em;
  color: #0074D9;
  opacity: 0;
}

.search-results li.selected-result:before {
  opacity: 1;
}
