ul.search-results
  +each getPatients
    li(data-id='{{ _id }}')
      h3
        span.full-name {{ fullNameWithTitle profile }}
        small.inline-profile {{ birthday profile.birthday }} {{> birthdayCake }}

  li
    h3
      span.new-patient Neuen Patienten anlegen
