.box(class='{{currentStepClass}}')
  .box-header.with-border
    h3.box-title <b>1.</b> PatientIn
    unless currentStep
      .box-tools.pull-right
        button.btn.btn-box-tool(rel='clear')
          i.fa.fa-remove
  .box-body
    if currentStep
      input#patient-search-box.form-control.input-lg(placeholder='PatientIn suchen: Vorname, Nachname' autocomplete='off' autofocus)
      if patientId
        .row
          .col-md-6
            +newAppointmentFindPatientSearchResults
          .col-md-6
            +newAppointmentFindPatientProfile
      else
        .row
          .col-md-12
            +newAppointmentFindPatientSearchResults
    else
      +newAppointmentFindPatientProfile
