.modal.fade(tabindex='-1')
  .modal-dialog.disable-selection
    .modal-content
      .modal-header
        button(type='button' class='close' data-dismiss='modal' aria-hidden='true') &times;
        h4.modal-title {{_ 'hotkeys.this' }}

      .modal-body
        .row
          .col-md-12
            dl.dl-horizontal.more-space
              +each hotkeys
                if show
                  dt {{ hotkeyName }}
                  dd
                    +each keys
                      kbd {{ this }}
                      span &nbsp;


      .modal-footer
        button(type='button' class='btn btn-default' data-dismiss='modal') {{_ 'ui.close' }}
