.modal.fade(tabindex='-1')
  .modal-dialog.disable-selection
    .modal-content
      .modal-header
        button(type='button' class='close' data-dismiss='modal' aria-hidden='true') &times;
        h4.modal-title {{_ 'hotkeys.this' }}

      .modal-body
        .row
          +each groups
            .col-md-6
              +each hotkeys
                unless hidden
                  p.double-space
                    +each keys
                      kbd {{ this }}
                      span &nbsp;
                    strong &ensp;{{ hotkeyName }}


      .modal-footer
        button(type='button' class='btn btn-default' data-dismiss='modal') {{_ 'ui.close' }}
