+contentHeader(title='schedules.holidays')
.content
  +dataTable(title='schedules.holidays' newTitle='schedules.holidaysNew' table=TabularTables.Schedules.holidays id='holidaysTable' formTemplate=formTemplate)
