.modal.fade
  .modal-dialog.disable-selection
    .modal-content
      .modal-header
        button(type='button' class='close' data-dismiss='modal' aria-hidden='true') &times;
        h4.modal-title modalTitle
      .modal-body
        +UI.dynamic(template=collectionItem data=this)
      .modal-footer
        button(type='button' class='btn btn-default' data-dismiss='modal') {{_ 'ui.close' }}
