aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.header {{_ 'sidebar_actions'}}
      each sidebar
        +if showNav roles
            li.treeview
              a.pointer.level-0.link(id='{{htmlId}}' href='{{hrefLevel0}}')
                <i class='fa fa-{{icon}}'></i>
                span {{ name }}
                +if showCount countBadge
                  small.label.pull-right.label-primary {{showCount countBadge}}
                +else if submenu
                  i.fa.fa-angle-left.pull-right
              if submenu
                ul.treeview-menu
                  each submenu
                      li
                        a.active.level-1.link(id='{{htmlId}}' href='{{hrefLevel1}}')
                          span {{ name }}
