aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.header {{_ 'sidebar_actions'}}
      each sidebar
        +if showNav roles
          unless disabled
            li.treeview
              span.pointer.level-0.link(id='{{htmlId}}' href='{{path}}')
                <i class='fa fa-{{icon}}'></i>
                span {{ name }}
                +if showCount countBadge
                  small.label.pull-right.label-primary {{showCount countBadge}}
                +else if submenu
                  i.fa.fa-angle-left.pull-right
              if submenu
                unless disabled
                  ul.treeview-menu
                    each submenu
                        li
                          span.active.level-1.link(id='{{htmlId}}' href='{{path}}')
                            span {{ name }}
