.modal-header
  button.close(data-dismiss='modal')
    span &times;
  h4.modal-title {{_ 'login.help.title'}}
.modal-body
  p {{{_ 'login.help.body'}}}
.modal-footer
  button.btn.btn-primary(data-dismiss='modal') {{_ 'login.help.ok'}}
