.box.box-default
  .box-header
    h3.box-title {{_ title}}
    .box-tools
      button.btn.btn-default.this-insert {{thisInsert}}
  .box-body
    +tabular(table=table class='table table-striped table-bordered table-condensed')
