:local(.userPanel .hidden) {
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-out;
}

:local(.userPanel:hover .hidden) {
  max-height: 200px;
}

:local(.name) {
  color: $gray;
  display: inline-block;
  padding-bottom: 7px;
  padding-top: 7px;
}
