.box.box-default
  .box-header
    h3.box-title <b>5.</b> Zusammenfassung
  .box-body
    dl.dl-horizontal
      dt Name
      dd {{ name }}

      dt {{_ 'time.date'}}
      dd {{ date }}

      dt {{_ 'time.time'}}
      dd {{ time }}

      dt {{_ 'appointments.assignment'}}
      dd {{ summary 'assignedTo' }}
