if loaded
  #loaded

#locale(class=locale)

+sAlert

#main.wrapper.disable-select
  if currentUser
    +topbar
    +sidebar
    .content-wrapper.print-no-margin
      +Template.dynamic template=main
    +footer
  else
    +lockedLayout
      +login

  +modals
