.safari-translucency-fix {
  position: fixed;
  top: -399px;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: #fff;
  z-index: 1020;
}

.navbar-brand img {
  display: inline-block;
  margin-left: 16px;
  width: 16px;
  height: 16px;
}

body {
  margin-top: 60px;
}
