html, body {
  background-color: #ECF0F5;
}

body {
  zoom: 1.2;
}

.main-header .logo img {
  width: 20px;
}

.no-mb {
  margin-bottom: 0;
}

.pointer {
  cursor: pointer;
}

.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

a, button, .btn {
  cursor: pointer;
}

.enable-select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

.dataTable tbody td {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: default;
}

.pre-wrap {
  white-space: pre-wrap;
}

.inline {
  display: inline;
}

.avatar {
  display: block;
  background: #d8e0e8;
  border-radius: 100%;
}

.avatar.username {
  color: #fefefe !important;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-top: 7px;
  font-size: 11px;
  overflow: hidden;
}
