.box(class='{{currentStep}}')
  .box-header
    h3.box-title <b>1.</b> PatientIn
  .box-body
    input.form-control.input-lg(id='patient-search-box' placeholder='PatientIn suchen: Vorname, Nachname' autocomplete='off')
    ul.search-results
      +each getPatients
        li(data-id='{{ _id }}')
          h3
            span.full-name {{ profile.firstName }} {{ profile.lastName }}
            small.inline-profile {{ birthday profile.birthday }}

      li
        h3
          span.new-patient Neuen Patienten anlegen
