with patient
  h3
    span.full-name {{ getFullNameWithTitle this }}<br/>
    small.inline-profile
      | {{ birthday profile.birthday }} {{> birthdayCake }}
      if insuranceId
        <br/>{{_ 'patients.insuranceId'}}: {{ insuranceId }}

  .row
    if hasContacts
      .col-md-6
        +profileContacts
    if profile.address
      .col-md-6
        +profileAddress


  if notes
    blockquote {{ notes }}

  if hasFutureAppointments
    h4 {{_ 'appointments.thisFuture'}}
    ul.list-unstyled
      +each futureAppointments
        +appointmentLine

  if hasPastAppointments
    h4 {{_ 'appointments.thisPast'}}
    ul.list-unstyled
      +each pastAppointments
        +appointmentLine
