.box.box-widget.appointment
  .box-header
    button.pull-right.btn.btn-success.admit {{_ 'appointments.admit'}}

    h4.username.enable-select
      <b>{{ time start }}</b> {{ getFullNameWithTitle patient }}<br />
      if privateAppointment
        small {{_ 'appointments.private'}}
      else
        small {{_ 'appointments.insurance'}}

      small {{_ 'appointments.assignedTo'}} {{ getFullNameWithTitle assignee }}

  .box-body
    blockquote
      p.enable-select.pre-wrap #{note}

    | {{> humanCommentCount }}
    | {{> stamps fields='treated,admitted,created' doc=this}}

  +comments
