.box.box-widget.appointment
  .box-header
    button.pull-right.btn.btn-success Anwesend

    h4.username.enable-select
      <b>{{ time start }}</b> {{ getFullNameWithTitle patient }}<br />
      if privateAppointment
        small {{_ 'appointments.private'}}
      else
        small {{_ 'appointments.insurance'}}

      small {{_ 'appointments.assignedTo'}} {{ getFullNameWithTitle assignee }}

  .box-body
    blockquote
      p.enable-select.pre-wrap #{note}

    .text-muted
      span.pull-left
        | {{_ 'appointments.createdBy'}} {{getFirstName createdBy}} {{livestamp createdAt}} {{_ 'ui.at'}} {{time createdAt}}
      if hasComments
        span.pull-right
          | {{ humanCommentCount }}

  +comments
