+contentHeader(title='appointments.thisInsert')
.content
  .box.box-default
    .box-body
      +autoForm(collection='Appointments' id='insertAppointmentForm' validation='submit')
        fieldset
          +afQuickField(name='start' type='bootstrap-datetimepicker')
          +afQuickField(name='end' type='bootstrap-datetimepicker')
          +afQuickField(name='type')
          +afQuickField(name='patientId')
          +afQuickField(name='assigneeId')
          +afQuickField(name='assigneeIds')
          +afQuickField(name='note' rows=6)
          +afQuickField(name='privateAppointment')
        button.btn.btn-primary(type='submit') {{_ 'appointments.thisSave'}}
