:local(.headerRow) {
  background-color: $background;
  border-bottom: 1px solid $gray-disabled;
  display: flex;
  left: 245px;
  padding-bottom: 6px;
  padding-top: 10px;
  position: fixed;
  right: 15px;
  top: 50px;
  z-index: 40;
}

:local(.headerRowSidebarClosed) {
  left: 60px !important;
}

:local(.headerCell) {
  flex: 1;
  font-weight: bold;
  padding-top: 4px;
  border-left: 1px solid $gray;
  text-align: center;
}

:local(.modal) {
  height: 400px;
  overflow-y: visible;
  padding: 10px;
  width: 350px;
}
