:local(.mainHeader) {
  right: initial !important;
}

:local(.contentWrappedSidebarClosed) {
  margin-left: 45px !important;
}

:local(.logoSidebarClosed) {
  width: 45px !important;
}

:local(.logo) {
  padding: 0 !important;
}
