:local(.blank) {
  background-color: lighten($background, 10%);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  margin-left: 2px;
  min-height: 24px;
}

:local(.blank:hover) {
  background-color: lighten($background, 3%);
}
