@import "../../../css/global.scss";

:local(.scheduledUnavailable) {
  background-color: $dark-gray-disabled;
  opacity: .5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:local(.schedulesText) {
  text-align: center;
}
