$font-stack: -apple-system, BlinkMacSystemFont,
  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

$primary-active: #357ca5;
$primary: #3c8dbc;
$primary-disabled: #3c8dd7;

$gray-active: #b5bbc8;
$gray: #d2d6de;
$gray-disabled: #d2d6de;
