html,
body {
  background-color: #ECF0F5;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  zoom: 1.221;
  transition: filter 1s cubic-bezier(.17,.67,.83,.67);
}

.zoom-1 {
  /* zoom: calc(1 / 1.221); */
}

.zoom-2 {
  /* zoom: 1.32; */
}

.main-header .logo {
  transition: background-color 1s;
}

.main-header .logo img {
  width: 20px;
}

.no-mb {
  margin-bottom: 0;
}

.pointer {
  cursor: pointer;
}

.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

a, button, .btn {
  cursor: pointer;
}

label {
  font-weight: 400;
}

.enable-select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

pre {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

.pre-wrap {
  white-space: pre-wrap;
}

.break-word {
  word-wrap: break-word;
}

.inline {
  display: inline;
}

.navbar-title {
  font-size: 16px;
  line-height: 0.1;
  font-weight: 400;
  padding-left: 10px;
  display: inline-block;
}

.avatar {
  display: block;
  background: #d8e0e8;
  border-radius: 100%;
}

.avatar.username {
  color: #fefefe !important;
  text-transform: lowercase;
  font-weight: bold;
  text-align: center;
  padding-top: 7px;
  font-size: 11px;
  overflow: hidden;
}

.clear {
  clear: both;
}

.on-hover-show {
  visibility: hidden;
}

.on-hover-here:hover .on-hover-show {
  visibility: visible;
}

i.circle {
  display: inline-block;
  margin-bottom: -4px;
  margin-right: 3px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 3px solid #fefefe;
  background-color: #f1f1f1;
}

.tag {
  margin-right: 4px;
}

.tag-lg {
  font-size: 110%;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.loading {
  animation: fadeIn ease-in 1s;
  animation-fill-mode:forwards;
}

.bg-white {
  background-color: white;
}

div[tabindex="-1"]:focus {
  outline: 0;
}

.copyright {
  color: rgba(255,255,255,0.4);
}

.copyright a, .copyright a:active, .copyright a:visited, .copyright a:hover, .copyright a:focus, .copyright a:link {
  color: rgba(255,255,255,0.4);
  text-decoration: none;
}
