.box.box-info
  .box-body.no-padding
    .table-responsive
      table.table.no-margin
        thead
          tr
            th #
            th.col-md-2 Arzt
            th Stunden
            th.td-bg(width='150px') Patienten
            th.td-bg Neu
            th.td-bg Kontrolle
            th.td-bg Neu/h
            th.td-bg Gesamt
            th OP
            if showRevenue
              th Umsatz
        tbody
          +each assigneesWithIndex
            tr
              td {{ index }}
              td
                if assignee
                  | {{ getFullNameWithTitle assignee }}
                else
                  i.text-muted {{_ 'reports.unassigned' }}
              td
                if hours.actual
                  | {{ roundToOne hours.actual }}
                else if hours.scheduled
                  | {{ roundToOne hours.scheduled }}&nbsp;
                  small.fa.fa-question-circle.text-quite-muted(data-toggle='tooltip' title='{{_ "reports.scheduledOnly" }}' data-placement='right')
              td.td-bg.on-hover-here
                .progress.bg-aqua-light
                  if hasNewPatients
                    .progress-bar.progress-bar-aqua(style='width: {{ patients.newPercentage }}%')
                      .on-hover-show.show-print {{ floor patients.newPercentage }}% {{_ 'reports.newPercentage'}}
              td.td-bg {{ patients.new }}
              td.td-bg {{ patients.recall }}
              td.td-bg {{ roundToOne patients.newPerHourScheduled }}
              td.td-bg {{ patients.total }}
              td {{ patients.surgeries }}

              if showRevenue
                td €{{ revenue }}
