.breadcrumb.page-actions
  .btn-group
    a.btn.btn-sm.btn-default(rel='previous')
      i.fa.fa-caret-left
    a.btn.btn-sm.btn-default(rel='today') {{_ 'ui.today' }}
    a.btn.btn-sm.btn-default(rel='next')
      i.fa.fa-caret-right
    a.btn.btn-sm.btn-default(title='{{_ "ui.pickDate"}}' rel='pickDate' data-toggle='tooltip' data-placement='bottom')
      i.fa.fa-calendar

  a.btn.btn-sm.btn-default(title='{{_ "reports.toggleRevenue"}}' rel='toggleRevenue' data-toggle='tooltip' data-placement='bottom')
    i.fa.fa-eye-slash

  a.btn.btn-sm.btn-default(title='{{_ "ui.print"}}' rel='print' data-toggle='tooltip' data-placement='bottom')
    i.fa.fa-print
