header.main-header
  a.logo(href='/')
    img(src='/images/logo.svg')


  nav.navbar.navbar-static-top
    ul.nav.navbar-nav.navbar-left
      li
        a(rel='toggleSidebar')
          i.fa.fa-bars
          .navbar-title &nbsp;

    .navbar-custom-menu
      ul.nav.navbar-nav
        li.dropdown.user.user-menu
          a.dropdown-toggle(data-toggle='dropdown')
            span.hidden-xs
              +with currentUser.lastTimesheet
                | {{> timesheetStatusIcon }}
              | #{currentUser.fullNameWithTitle}
              i.caret
          ul.dropdown-menu
            li.user-body
              p
                | #{currentUser.fullNameWithTitle}
              +with currentUser.lastTimesheet
                | {{> timesheetStatusText }}
            li.user-footer
              .pull-left
                +with currentUser.lastTimesheet
                  | {{> timesheetStartStopButton }}
              .pull-right
                a.btn.btn-default.logout
                  | {{_ 'login.logout'}}
                  i.fa.fa-exit
