+contentHeader(title='system.thisStats')
.content
  .row
    .col-md-3
      .box.box-default
        .box-header.with-border Mapping: Appointments to Patients
        .box-body
          canvas(id='appointments-mapping' width='150' height='150')
          ul.list-group
            li.list-group-item
              | Total
              .pull-right {{ stats 'appointmentsTotal' }}
            li.list-group-item
              | Mapped
              .pull-right.text-green {{ stats 'appointmentsMapped' }}
            li.list-group-item
              | Heuristically Mapped
              .pull-right.text-yellow {{ stats 'appointmentsHeuristic' }}
            li.list-group-item
              | Unmapped
              .pull-right.text-red {{ stats 'appointmentsUnmapped' }}
