+contentHeader(title='patients.thisAll' subtitle='patients.addedToday' subtitleCount='patients-addedToday')
.content
  .box.box-danger
    .box-body
      input.input-lg(id='patient-search-box')
      +each getPatients
        | Patient
        h3 {{ profile.firstName }} {{ profile.lastName }}
        | {{ profile.birthday }}
