+callout(type='info' text='schedules.businessHoursOverrideCallout')

+autoForm(collection=collection type=type doc=doc validaion='submit' id='businessHoursOverrideForm')
  fieldset
    +afFieldInput(name='type' value='businessHoursOverride' type='hidden')
    +afQuickField(name='note')
    +afQuickField(name='start' type='bootstrap-datetimepicker')
    +afQuickField(name='end' type='bootstrap-datetimepicker')
  button.btn.btn-primary(type='submit') {{_ 'ui.save'}}
