+if viewUser
  .row
    .col-md-2
      .description-block.border-right
        span.description-text Montag
        h5.description-header
          span.block 8:00-13:00
          span.block 16:00-17:30
        span.description-text 
          i.fa.fa-clock.text-info 5h

    .col-md-2
      .description-block.border-right
        span.description-percentage 5h
        h5.description-header
          span.block 8:00-13:00
          span.block 16:00-17:30
        span.description-text Dienstag

    .col-md-2
      .description-block.border-right
        span.description-percentage 5h
        h5.description-header
          span.block 8:00-13:00
          span.block 16:00-17:30
        span.description-text Mittwoch

    .col-md-2
      .description-block.border-right
        span.description-percentage 5h
        h5.description-header
          span.block 8:00-13:00
          span.block 16:00-17:30
        span.description-text Donnerstag

    .col-md-2
      .description-block.border-right
        span.description-percentage 5h
        h5.description-header
          span.block 8:00-13:00
          span.block 16:00-17:30
        span.description-text Freitag

    .col-md-2
      .description-block.border-right
        span.description-percentage 5h
        h5.description-header
          span.block 8:00-13:00
          span.block 16:00-17:30
        span.description-text Samstag


  .row
    .col-md-12 {{> quickForm collection='Schedules' doc=getDefaultScheduleForViewUser type=formType template='bootstrap3-inline' id='afSchedulesDefaultForm' label-class='sr-only' afFieldInput-placeholder='schemaLabel'}}
