.row
  .col-md-6
    +newAppointmentReminder
  .col-md-6
    +newAppointmentSummary


.box.box-default
  .box-header
    h3.box-title <b>6.</b> Bestätigung
  .box-body
    button.btn.btn-success.btn-lg.btn-block(type='submit') Termin eintragen
