+contentHeader(title='schedules.override')
.content
  .row
    .col-md-12
      +dataTable(title='schedules.override' newTitle='schedules.overrideNew' table=TabularTables.Schedules.override id='overrideTable' formTemplate=formTemplate)
