if inboundCalls.count
  +contentHeader(title='inboundCalls.thisResolved')
  .content
    +tabular(table=InboundCallsTable class='table table-striped table-bordered table-condensed')
else
  .content
    +box(class='warning' title='ui.notice' body='inboundCalls.emptyResolved')
