.panel.panel-default
  .panel-body
    h4.enable-select #{firstName} #{lastName}
      if privatePatient
        small {{_ 'inboundCalls.private'}}
      else
        small {{_ 'inboundCalls.insurance'}}
    h5.enable-select {{vacafix telephone}}

    blockquote
      p.enable-select.pre-wrap #{note}

    footer
      span.text-muted {{_ 'inboundCalls.answeredBy'}} {{getFirstName createdBy}} {{_ 'ui.at'}} {{time createdAt}} &middot; {{livestamp createdAt}}
      if removed
        br
        span.text-muted {{_ 'inboundCalls.resolvedBy'}} {{getFirstName removedBy}} {{_ 'ui.at'}} {{time removedAt}} &middot; {{livestamp removedAt}}
        

  .panel-footer
    unless removed
      a.resolve(href='#') {{_ 'inboundCalls.resolve'}}
    else
      a.unresolve(href='#') {{_ 'inboundCalls.unresolve'}}
