if profile.address
  if profile.address.line1
    | {{ profile.address.line1 }}<br/>

  if profile.address.line2
    | {{ profile.address.line2 }}<br />

  if profile.address.postalCode
    | {{ profile.address.postalCode }}&nbsp;

  if profile.address.locality
    | {{ profile.address.locality }}

  if profile.address.country
    | <br />{{ profile.address.country }}
