:local(.appointment) {
  border-left: 16px solid $primary-active;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  cursor: pointer;
  margin-left: 0;
  overflow: hidden;
  padding-left: 4px;
  white-space: pre-wrap;
  background-color: $background;
}

:local(.show) {
  border-width: 0;
}

:local(.appointment:hover) {
  background-color: lighten($background, 3%);
}

:local(.canceled) {
  color: $dark-gray-disabled;
  text-decoration: line-through;
}

:local(.prefix) {
  color: $dark-gray;
}
