if title
  .content-header
    h1 {{_ title}}
      if titleAppend
        | {{ titleAppend }}
      if titleCount
        | {{getPublishedCount titleCount}}
      small
        if subtitleCount
          | {{getPublishedCount subtitleCount}}
        if subtitle
          | {{_ subtitle}}
        if subtitleAppend
          | {{ subtitleAppend }}

else
  .content-header
    h1 {{_ titleFromRoute}}
