+each employeeGroups
  .box.box-default
    .box-header.with-border
      h3.box-title
        +groupIcon group
        | {{ group.name }}
    .box-body.no-padding
      ul.nav.nav-pills.nav-stacked
        +each users
          li
            a(href='{{ linkToDefaultScheduleForUser }}' ref='interceptClick')
              | {{ this.fullNameWithTitle }}
              span.label.label-primary.pull-right {{ totalHoursPerWeek }}
