html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow-y: auto;
}

.s-alert-box {
  z-index: 25000;
}

.modal {
  z-index: 22000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.modal-backdrop {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.main-header {
  z-index: 20000;
}

.main-sidebar {
  z-index: 10000;
  overflow-y: auto;
  height: 100%;
}

.sidebar-collapse .level-0 {
  width: 279px !important;
}

.sidebar-collapse .treeview-menu {
  width: 229px !important;
}

.modal .box, .modal .box.box-widget {
  margin-bottom: -10px;
  margin-top: -20px;
  border: 0;
  box-shadow: none;
}

.modal .box-header {
  margin-left: 0;
}

.box-body {
  padding-bottom: 8px !important;
}

.appointment .box-header h4 {
  margin-top: 0;
}

.appointment .box-body {
  padding-top: 0;
}

.stamp {
  margin-bottom: 0;
}

.page-actions {
  margin-top: -10px !important;
}

.bg-aqua-light {
  background-color: #cbf5ff;
}

.table tr td .progress {
  margin-top: 0 !important;
}

.td-bg {
  background-color: #F9F9F9;
}

.text-larger {
  font-size: 130%;
}

.info-box-number {
  font-size: 24px !important;
}

.info-box small {
  font-size: 18px !important;
}

.info-box-text {
  text-transform: none !important;
}

.progress-description {
  color: #777;
}

.description-block {
  line-height: 2.2;
  min-height: 100px;
}

.description-header {
  line-height: 1.3;
}

.text-very-muted {
  color: #e9e9e9;
}

.pre {
  white-space: pre;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.list-group {
  margin-bottom: 0 !important;
}

.list-group-item {
  padding: 10px 5px !important;
  margin-bottom: -5px !important;
  border: 0 !important;
}

.box-hover {
  display: none;
}

.box:hover .box-hover {
  display: block;
}

.block {
  display: block;
}

.double-space {
  line-height: 2;
}


.s-alert-bottom-left {
  bottom: 0;
  left: 0;
  width: 230px;
  padding: 10px !important;
}

.s-alert-stackslide p {
  padding: 0 1.5em 0 2.2em !important;
  text-indent: -0.6em !important;
}

.s-alert-close {
  top: 20px !important;
  right: 10px !important;
}

.anonymous-calendar .ui-state-highlight.fc-today,
.anonymous-calendar .fc-unthemed .fc-today {
  background: none !important;
}
