html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow-y: auto;
}

.s-alert-box {
  z-index: 25000;
}

.modal {
  z-index: 22000;
}

.main-header {
  z-index: 20000;
}

.main-sidebar {
  z-index: 10000;
  overflow-y: auto;
  height: 100%;
}

.sidebar-collapse .level-0 {
  width: 279px !important;
}

.sidebar-collapse .treeview-menu {
  width: 229px !important;
}

.modal .box, .modal .box.box-widget {
  margin-bottom: -10px;
  margin-top: -20px;
  border: 0;
  box-shadow: none;
}

.modal .box-header {
  margin-left: 0;
}

.box-body {
  padding-bottom: 8px !important;
}

.appointment .box-header h4 {
  margin-top: 0;
}

.appointment .box-body {
  padding-top: 0;
}

.stamp {
  margin-bottom: 0;
}

.page-actions {
  margin-top: -10px !important;
}

.bg-aqua-light {
  background-color: #cbf5ff;
}

.table tr td .progress {
  margin-top: 0 !important;
}

.td-bg {
  background-color: #ececec;
}

.text-larger {
  font-size: 130%;
}

.list-group {
  margin-bottom: 0 !important;
}

.list-group-item {
  padding: 10px 5px !important;
  margin-bottom: -5px !important;
  border: 0 !important;
}

.box-hover {
  display: none;
}

.box:hover .box-hover {
  display: block;
}

.block {
  display: block;
}

.more-space {
  line-height: 2;
}
