#time-picker
  .datepicker-inline
    .datepicker.timepicker
      nav.datepicker--nav
        .col-md-12
          .row.double-space
            .col-md-6.text-center.separator-right
              | h
            .col-md-6.text-center
              | min
      .datepicker--content
        .datepicker--days.datepicker--body.active
          .row
            .col-md-6.separator-right
              .datepicker--cells.datepicker--timepicker-cells
                +each hours
                  .datepicker--cell.datepicker--cell-h(class='{{ className }}' data-hour=hour) {{ hour }}
            .col-md-6
              .datepicker--cells.datepicker--timepicker-cells
                +each blocks
                  .datepicker--cell.datepicker--cell-m(class='{{ className }}') {{ block }}
