.days-only .datepicker--nav-title:hover {
  cursor: default;
  background: none;
}

.datepicker.timepicker {
  width: 170px;
}

.datepicker--cell-h,
.datepicker--cell-m {
  width: 50%;
}

.timepicker .datepicker--cell:hover {
  background: #f0f0f0;
}

.timepicker .datepicker--cell.-selected-:hover {
  background: #45bced;
}

.separator-right {
  border-right: 1px solid #eee;
}
