<template name='inboundCall'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <h4>
        {{ firstName }} {{ lastName }}
        {{# if privatePatient }}
          <small>Private</small>
        {{ else }}
          <small>Insurance</small>
        {{/ if }}
      </h4>
      <h5>{{ telephone }}</h5>

      <blockquote>
        <p>{{ note }}</p>
      </blockquote>

      <footer class='text-muted'>
        {{ time createdAt }} &middot; {{ livestamp createdAt }}
      </footer>
    </div>

    <div class='panel-footer'>
      <a href='#' class='resolve'>Mark as resolved</a>
    </div>
  </div>
</template>
