if inboundCalls.count
  +contentHeader(title='inboundCalls.this')
  .content
    each inboundCalls
      +inboundCall
else
  .content
    +box(class='success' title='ui.allDone' body='inboundCalls.empty')
