<template name='inboundCall'>
  <li class='list-group-item'>
    <h4 class='list-group-item-heading'>
      {{ firstName }} {{ lastName }}
      {{#if privatePatient}}
        <small>Private</small>
      {{else}}
        <small>Insurance</small>
      {{/if}}
    </h4>
    <h5 class='list-group-item-heading'>{{ telephone }}</h5>
    <p class='list-group-item-text'>{{ note }}</p>
    <p class='list-group-item-text'>
      {{ time createdAt }} &middot;
      <span class='text-muted'>{{ timeAgo createdAt}}</span>
    </p>
  </li>
</template>
