.panel.panel-default
  .panel-body
    h4.enable-select #{firstName} #{lastName}
      if privatePatient
        small {{_ 'inboundCalls.private'}}
      else
        small {{_ 'inboundCalls.insurance'}}
    h5.enable-select {{vacafix telephone}}

    blockquote
      p.enable-select #{note}

    footer
      span.text-muted {{time createdAt}} &middot; {{livestamp createdAt}}

  .panel-footer
    a.resolve(href='#') {{_ 'inboundCalls.resolve'}}
