<template name='newInboundCall'>
  {{#autoForm collection='InboundCalls' id='insertInboundCallForm' type='insert'}}
    <fieldset>
      <legend>New inbound call</legend>
      {{> afQuickField name='lastName'}}
      {{> afQuickField name='firstName'}}
      {{> afQuickField name='telephone'}}
      {{> afQuickField name='note' rows=6}}
      {{> afQuickField name='privatePatient'}}
    </fieldset>
    <button type='submit' class='btn btn-primary'>Save new inbound call</button>
  {{/autoForm}}
</template>
