+contentHeader(title='inboundCalls.thisResolved' subtitle='inboundCalls.resolvedToday' subtitleCount='inboundCalls-resolvedToday')
.content
  .box.box-success
    .box-body
      +tabular(table=TabularTables.InboundCalls class='table table-striped table-bordered table-condensed' id='resolvedInboundCallsTable')
