.box.box-info
  .box-body.no-padding
    .table-responsive
      table.table.no-margin
        thead
          tr
            th #
            th.col-md-2 Arzt
            th Stunden
            th.td-bg(width='150px') Patienten
            th.td-bg Neu
            th.td-bg Kontrolle
            th.td-bg Neu/h
            th.td-bg Gesamt
            th OP
            th Umsatz
        tbody
          +each assigneesWithIndex
            tr
              td {{ index }}
              td
                if assignee
                  | {{ getFullNameWithTitle assignee }}
                else
                  i.text-muted {{_ 'reports.unassigned' }}
              td {{ hours.actual }}
              td.td-bg.on-hover-here
                .progress.bg-aqua-light
                  .progress-bar.progress-bar-aqua(style='width: {{ patients.newPercentage }}%')
                    .on-hover-show.show-print {{ floor patients.newPercentage }}% {{_ 'reports.newPercentage'}}
              td.td-bg {{ patients.new }}
              td.td-bg {{ patients.recall }}
              td.td-bg {{ patients.newPerHour }}
              td.td-bg {{ patients.total }}
              td {{ patients.surgeries }}
              td €{{ revenue }}
