.box.box-info
  .box-body.no-padding
    .table-responsive
      table.table.no-margin
        thead
          tr
            th #
            th Arzt
            th Stunden
            th.td-bg(width='230px') Patienten
            th.td-bg Kontrolle
            th.td-bg Neu/h
            th.td-bg Gesamt
            th OP
            th Umsatz
        tbody
          +each assigneesWithIndex
            tr
              td {{ index }}
              td {{ getFullNameWithTitle id }}
              td {{ hours.actual }}
              td.td-bg
                .progress.bg-aqua-light
                  .progress-bar.progress-bar-aqua(style='width: {{ patients.newPercentage }}%') {{ patients.new }} Neu
              td.td-bg {{ patients.recall }}
              td.td-bg {{ patients.newPerHour }}
              td.td-bg {{ patients.total }}
              td {{ patients.surgeries }}
              td €{{ revenue }}
