.box.box-info
  .box-body.no-padding
    .table-responsive
      table.table.no-margin
        thead
          tr
            th #
            th Arzt
            th Stunden
            th.td-bg(width='230px') Patienten
            th.td-bg Kontrolle
            th.td-bg Neu/h
            th.td-bg Gesamt
            th OP
            th Umsatz
        tbody
          tr
            td 1
            td Dr. A
            td 4,5h
            td.td-bg
              .progress.bg-aqua-light
                .progress-bar.progress-bar-aqua(style='width: 95%') 21 Neu
            td.td-bg 1
            td.td-bg 4,7
            td.td-bg 22
            td 1
            td € 815,59
          tr
            td 2
            td Dr. B
            td 5h
            td.td-bg
              .progress.bg-aqua-light
                .progress-bar.progress-bar-aqua(style='width: 82%') 29 Neu
            td.td-bg 6
            td.td-bg 5,8
            td.td-bg 35
            td 0
            td € 781.73
