.breadcrumb.page-actions
  .btn-group
    a.btn.btn-sm.btn-default
      i.fa.fa-caret-left
    a.btn.btn-sm.btn-default {{_ 'ui.today' }}
    a.btn.btn-sm.btn-default.btn-disabled
      i.fa.fa-caret-right
    a.btn.btn-sm.btn-default(title='{{_ "ui.pickDate"}}' rel='pickDate' data-toggle='tooltip' data-placement='bottom')
      i.fa.fa-calendar

  a.btn.btn-sm.btn-default(title='{{_ "ui.print"}}' rel='print' data-toggle='tooltip' data-placement='bottom')
    i.fa.fa-print
