.breadcrumb.page-actions
  a.btn.btn-sm.btn-default(title='{{_ "ui.date"}}' data-toggle='tooltip' data-placement='bottom')
    i.fa.fa-calendar-o
  a.btn.btn-sm.btn-default(title='{{_ "ui.today"}}' data-toggle='tooltip' data-placement='bottom')
    i.fa.fa-calendar-times-o
  a.btn.btn-sm.btn-default(title='{{_ "ui.exportToExcel"}}' data-toggle='tooltip' data-placement='bottom')
    i.fa.fa-table
  a.btn.btn-sm.btn-info(title='{{_ "ui.print"}}' rel='print' data-toggle='tooltip' data-placement='bottom')
    i.fa.fa-print
