aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.header {{_ 'sidebar_actions'}}
      each sidebar
        +if showNav roles
            li.treeview
              a.pointer.level-0(id='{{toHtmlId name}}' href=link)
                <i class='fa fa-{{icon}}'></i>
                span {{_ name}}
                if showCount countBadge
                  small.label.pull-right.label-primary {{showCount countBadge}}
                else if submenu
                  i.fa.fa-angle-left.pull-right
              if submenu
                ul.treeview-menu
                  each submenu
                      li
                        a.active.level-1(href=link id='{{toHtmlId name}}')
                          span {{_ name}}
