+contentHeader(title='users.thisInsert')
.content
  .box.box-default
    .box-body
      +autoForm(schema=schema meteormethod='users/create' id='insertUserForm' type='method')
        fieldset
          +afQuickField(name='username')
        button.btn.btn-primary(type='submit') {{_ 'users.thisSave'}}
