if loaded
  #loaded

#locale(class=locale)

+sAlert

#main.wrapper.disable-select
  if currentUser
    +topbar
    +sidebar
    .content-wrapper
      +Template.dynamic template=main
  else
    +lockedLayout
      +login

  +modals
