if loaded
  #loaded

+sAlert

#main
  .disable-select
    +AdminLTE(skin='blue' fixed=true sidebarMini=true)
      if currentUser
        +topbar
        +sidebar
        .content-wrapper
          +yield
      else
        +lockedLayout
          +login

    +modals
