if loaded
  #loaded

+sAlert

#main
  .disable-select
    if currentUser
      +AdminLTE(skin='blue' fixed=true sidebarMini=true)
        +topbar
        +sidebar
        .content-wrapper
          +yield
    else
      +AdminLTE(skin='blue')
        +lockedLayout

    +modals
