+contentHeader(title='schedules.thisCurrent' subtitle='schedules.weekOfYear' subtitleAppend=selectedWeekOfYear)
.content
  .row
    .col-md-3
      .box.box-solid
        .box-header.with-border
          h4.box-title {{ _ 'schedules.employee_plural' }}
        .box-body

    .col-md-9
      .box.box-default
        .box-body.no-padding {{ > ReactiveFullcalendar options=schedulesOptions }}
      .clear
