// This file is DEPRECATED: Add new variables in ./global.js

$font-stack: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$background: #ecf0f5;

$primary-active: #357ca5;
$primary: #3c8dbc;
$primary-disabled: #3c8dd7;

$gray-active: #b5bbc8;
$gray: #d2d6de;
$gray-disabled: #d2d6de;


$dark-gray-active: #6c717a;
$dark-gray: #81868e;
$dark-gray-disabled: #9398a1;
