.row
  +each weekdaysWithSchedule
    .col-md-2.no-padding
      .description-block.border-right
        span.description-text {{ label }}
        if totalHoursPerDay
          h5.description-header
            span.block.pre {{ shifts }}
          span.label.label-default
            i.fa.fa-clock-o
            | {{ totalHoursPerDay }}
        else
          p.description-header
            i.fa.fa-times.fa-2x.text-very-muted
