+autoForm(schema='userLoginSchema' id='loginForm' class='form-horizontal' type='normal')
  .panel.panel-default
    .panel-heading
      h3.panel-title {{_ 'login.heading'}}
    .panel-body
      .form-group(class='{{#if afFieldIsInvalid name="name"}}has-error{{/if}}')
        label.sr-only(for='nameField') {{_ 'login.name'}}
        .col-sm-12
          +afFieldInput(name='name' id='nameField' class='input-lg' placeholder='schemaLabel')
          if afFieldIsInvalid name='name'
            span.help-block {{afFieldMessage name='name'}}
      .form-group(class='{{#if afFieldIsInvalid name="password"}}has-error{{/if}}')
        label.sr-only(for='passwordField') {{_ 'login.password'}}
        .col-sm-12
          +afFieldInput(name='password' id='passwordField' type='password' class='input-lg' placeholder='schemaLabel')
          if afFieldIsInvalid name='password'
            span.help-block {{afFieldMessage name='password'}}
      .form-group.no-mb
        .col-sm-12
          button.btn.btn-success.btn-block.btn-lg(type='submit') {{_ 'login.button'}}

    .panel-footer
      a.text-muted(href='#' data-toggle='modal' data-target='#loginHelp') {{_ 'login.help.show'}}
