+with report
  .content-header
    h1
      | {{_ 'reports.thisDaySingular' }} {{ calendarDay day }}
      small.no-print {{ optionalRelativeDay day }}
    +reportActions

  .content
    +bigstats
    +ranking
